@model Floricultura.Application.ViewModels.FlorViewModel


@{
ViewData["Title"] = "Detalhes da Flor";
}


<h1>Detalhes da Flor</h1>


<div>
<dl class="row">
<dt class="col-sm-2">Nome</dt>
<dd class="col-sm-10">@Model.Nome</dd>


<dt class="col-sm-2">Descrição</dt>
<dd class="col-sm-10">@Model.Descricao</dd>


<dt class="col-sm-2">Preço</dt>
<dd class="col-sm-10">@Model.Preco.ToString("C")</dd>


<dt class="col-sm-2">Estoque</dt>
<dd class="col-sm-10">@Model.Estoque</dd>


<dt class="col-sm-2">Criado em</dt>
<dd class="col-sm-10">@Model.CriadoEm.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</dd>
</dl>
</div>


<p>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
</p>